<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | EasyShare - File Sharing Made Easy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <img src="/img/logo.jpeg" alt="EasyShare logo" class="logo">
    <div class="cir"></div>
    <div class="cird"></div>
    <section class="download">
        <img class="download__icon" src="/img/download-svgrepo-com1.svg" alt="easyshare-download">
        <% if(locals.error){ %>
        <h3><%= locals.error %> 🥲</h3>
        <% } else { %>
        <h2>Your File is Ready to Download 🥳</h2>
        <p> <b>Link Expires in 24 hours</b></p>
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <small><%= parseInt(fileSize/1000) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download File</a>
        </div>
        <% } %>
    </section>
</body>

</html>